[defaults]
inventory = inventory.yml
host_key_checking = False
gathering = smart
fact_caching = memory
stdout_callback = yaml
roles_path = roles
retry_files_enabled = False

[inventory]
enable_plugins = yaml, ini

[ssh_connection]
pipelining = True
